<div
  id="draggable"
  ngDraggable
  (started)="onDragStart($event)"
  (movingOffset)="onDragOver($event)"
  class="dynamic-component card"
  #decisionBlock
>
  <div class="card-body">
    <h5 class="dynamic-component--name">New Block: Index {{ index }}</h5>
    <a
      class="dynamic-component--addBtn utility-btn"
      (click)="addComponent($event, index, true)"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <!-- Edit -->
    <a class="dynamic-component--editBtn utility-btn">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <a
      class="dynamic-component--removeBtn utility-btn"
      (click)="deleteComponent()"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
</div>
