<div
  id="draggable"
  ngDraggable
  (started)="onDragStart($event)"
  (movingOffset)="onDragOver($event)"
  class="dynamic-component card"
  #decisionBlock
>
  <div class="card-body">
    <h5
      class="dynamic-component-name"
      (dblclick)="openModalWithNodeProps($event)"
    >
      {{ nodeDetails.parentNodeName }} -
      <span
        class="dynamic-component-nodeCategory"
        [ngClass]="
          nodeCategory == 'ACTION'
            ? 'dynamic-component-nodeCategory dynamic-component-nodeCategory--action'
            : 'dynamic-component-nodeCategory dynamic-component-nodeCategory--decision'
        "
        >{{ nodeCategory }}</span
      >
      {{ index }}
    </h5>
    <a
      type="button"
      class="dynamic-component--addBtn utility-btn"
      (click)="showModal($event, index, true)"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <!-- Edit -->
    <a
      type="button"
      class="dynamic-component--editBtn utility-btn"
      (click)="openModalWithNodeProps($event)"
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <a
      type="button"
      class="dynamic-component--removeBtn utility-btn"
      (click)="deleteComponent()"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
</div>

<app-modal
  *ngIf="displayModal"
  showFooter="false"
  modalTitle="Title"
  submitLabel="add"
  (close)="displayModal = !displayModal; showModalForm = false"
  #modalDialog
>
  <!-- when we need to display dynamic form for user to edit the node details/information -->
  <ng-container *ngIf="showModalForm" ngProjectAs=".modalHeaderContent">
    <h5 class="modal-header-content">
      {{ nodeInformation?.childNodeName }}
    </h5>
  </ng-container>
  <ng-container *ngIf="showModalForm" ngProjectAs=".modalBodyContent">
    <div class="change-node-details">
      <app-dynamic-form
        [model]="nodeModelForExistingNodeEdit"
        (add)="onEditNodeDetailsSave($event)"
        (cancel)="closeModal()"
      ></app-dynamic-form>
    </div>
  </ng-container>

  <!-- when adding nodes -->
  <ng-container *ngIf="!showModalForm" ngProjectAs=".modalHeaderContent">
    <!-- header -->
    <div class="wfb-filters">
      <div
        *ngFor="let category of filterNodeCategories; let i = index"
        class="wfb-filters-options wfb-filters-options-active"
        [ngClass]="{
          'wfb-filters-options': true,
          'wfb-filters-options-active': category.value == filterText
        }"
        (click)="onFilterChange(category.value)"
      >
        <!-- <input type="radio" name="option" id="filter-all" [hidden]="'true'" /> -->
        <label for="filter-all"> {{ category.name }}</label>
      </div>
      <!-- <div class="wfb-filters-options" (click)="onFilterChange('ACTION')">
        <input type="radio" name="option" id="filter-action" />
        <label for="filter-action">Action</label>
      </div>
      <div class="wfb-filters-options" (click)="onFilterChange('DECISION')">
        <input type="radio" name="option" id="filter-decision" />
        <label for="filter-decision">Decision</label>
      </div> -->
    </div>
    <!-- end header -->
  </ng-container>
  <ng-container *ngIf="!showModalForm" ngProjectAs=".modalBodyContent">
    <!-- modal body content -->
    <div class="decision-action-container">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="list-group wfb-decision-action-list">
            <a
              *ngFor="
                let childNode of childNodesToConnect
                  | filterNodeCategory : filterText;
                let i = index
              "
              [ngClass]="{
                'list-group-item': true,
                'list-group-item-action': true,
                'list-group-item-light': true,
                'node-item-link': true,
                active: childNode.childNodeName === selectedNode?.childNodeName
              }"
              aria-current="true"
              (click)="onSelectChildNodeDisplayProperties($event, childNode)"
            >
              {{ childNode.childNodeName }}
              <span
                class="badge rounded-pill {{
                  childNode.childNodeCategory | lowercase
                }}"
                >{{ childNode.childNodeCategory }}</span
              >
            </a>
            <p *ngIf="!childNodesToConnect.length">No thing to show</p>
            <div
              class="wfb-noRecordsFound"
              *ngIf="
                (childNodesToConnect | filterNodeCategory : filterText)
                  ?.length <= 0
              "
            >
              <img
                class="wfb-noRecordsFound--img"
                src="/assets/no-data.png"
                alt="No Records Found Image"
                title="No Records"
              />
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-8">
          <div class="node-property-loader" style="position: relative">
            <div
              class="nodeProperty-display-container"
              *ngIf="!displayNode && !loading"
            >
              <p class="lead">Please select a activity</p>
            </div>
            <div
              class="nodeProperty-display-container"
              *ngIf="displayNode && !loading"
            >
              <h6
                class="selectedNode-heading selectedNode-heading--{{
                  selectedNode.childNodeCategory | lowercase
                }}"
              >
                {{ selectedNode?.childNodeName }}
              </h6>
              <app-dynamic-form
                [model]="nodeModel"
                (add)="onAdd($event)"
                (cancel)="closeModal()"
              ></app-dynamic-form>
            </div>
            <ngx-spinner
              name="nodePropertyLoader"
              bdColor="rgba(255, 255, 255, 0.7)"
              size="default"
              color="orange"
              type="ball-clip-rotate-pulse"
              [fullScreen]="false"
            ></ngx-spinner>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal body content -->
  </ng-container>
</app-modal>
