<form
  [formGroup]="formName"
  class="wfb-dynamicForm-component"
  *ngIf="!field.hidden"
>
  <div class="row">
    <!-- <div class="col-auto col-md-3">
      <label
        for="{{ field.fieldName }}_dynamicForm-select"
        class="wfb-dynamicForm-component--label"
        >{{ field.label }}</label
      >
    </div> -->
    <div class="col-auto col-md-12">
      <div class="wfb-dynamicForm-component-selectContainer">
        <ng-select
          id="{{ field.fieldName }}_dynamicForm-select"
          class="wfb-dynamicForm-component--select"
          [items]="field.options"
          bindLabel="label"
          bindValue="value"
          [placeholder]="&nbsp;"
          [formControlName]="field.fieldName"
          [clearable]="false"
          (change)="changedValue($event.value)"
        >
        </ng-select>
        <label
          for="{{ field.fieldName }}_dynamicForm-select"
          class="wfb-dynamicForm-component--selectLabel"
          >{{ field.label }}
          <i
            class="fa fa-question-circle"
            aria-hidden="true"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="This top tooltip is themed via CSS variables."
          ></i>
          <span
            class="wfb-dynamicForm-component--selectLabel-required"
            *ngIf="field?.rules?.required"
          >
            *
          </span>
        </label>
      </div>
    </div>
  </div>
</form>
