form {
  height: 90%;
  position: relative;
  .form-group {
    margin-bottom: 2rem;

    &.add-segment {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 0;
      //   display: inline-block;
      bottom: 0;
      position: absolute;
      right: 0.1rem;
    }
  }
}
