<div
  id="draggable"
  ngDraggable
  (started)="onDragStart($event)"
  (movingOffset)="onDragOver($event)"
  class="dynamic-component card"
  #decisionBlock
>
  <div class="card-body">
    <h5
      class="dynamic-component-name"
      (dblclick)="openModalWithNodeProps($event)"
    >
      {{ nodeDetails?.parentNodeName || "none" }} -
      <span
        class="dynamic-component-nodeCategory"
        [ngClass]="
          nodeCategory == 'ACTION'
            ? 'dynamic-component-nodeCategory dynamic-component-nodeCategory--action'
            : 'dynamic-component-nodeCategory dynamic-component-nodeCategory--decision'
        "
      >
        <!--  -->
        {{ nodeCategory }}
      </span>
      {{ index }}
    </h5>
    <a
      type="button"
      class="dynamic-component--addBtn utility-btn"
      (click)="showModal($event, index, true)"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <!-- Edit -->
    <a
      type="button"
      class="dynamic-component--editBtn utility-btn"
      (click)="openModalWithNodeProps($event)"
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <a
      type="button"
      class="dynamic-component--removeBtn utility-btn"
      (click)="deleteComponent()"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
</div>

<app-modal
  *ngIf="displayModal"
  showFooter="false"
  modalTitle="Title"
  submitLabel="add"
  (close)="displayModal = !displayModal; showModalForm = false"
  #modalDialog
>
  <!-- when we need to display form or data related stuff -->
  <ng-container *ngIf="showModalForm" ngProjectAs=".modalHeaderContent">
    <h3 class="modal-header-content">Show modal form from dynamic-component</h3>
  </ng-container>

  <!-- when adding nodes -->
  <ng-container *ngIf="!showModalForm" ngProjectAs=".modalHeaderContent">
    <!-- header -->
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-success">Decisions</button>
      <button type="button" class="btn btn-primary">Action</button>
    </div>

    <!-- end header -->
  </ng-container>
  <ng-container *ngIf="!showModalForm" ngProjectAs=".modalBodyContent">
    <!-- modal body content -->
    <div class="decision-action-container">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="list-group decision-action-list">
            <a
              *ngFor="let childNode of childNodesToConnect; let i = index"
              [ngClass]="{
                'list-group-item': true,
                'list-group-item-action': true,
                'list-group-item-light': true,
                'node-item-link': true,
                active: childNode.childNodeName === selectedNode?.childNodeName
              }"
              aria-current="true"
              (click)="onSelectChildNodeDisplayProperties($event, childNode)"
            >
              {{ childNode.childNodeName }}
              <span
                class="badge rounded-pill {{
                  childNode.childNodeCategory | lowercase
                }}"
                >{{ childNode.childNodeCategory }}</span
              >
            </a>
          </div>
        </div>
        <div class="col-md-8 col-lg-8">
          <div class="node-property-loader" style="position: relative">
            <div
              class="nodeProperty-display-container"
              *ngIf="!displayNode && !loading"
            >
              <p class="lead">Please select a activity</p>
            </div>
            <div
              class="nodeProperty-display-container"
              *ngIf="displayNode && !loading"
            >
              show properties of {{ selectedNode?.childNodeName }}
              <app-dynamic-form
                [model]="nodeModel"
                (add)="onAdd($event)"
                (cancel)="closeModal()"
              ></app-dynamic-form>
            </div>
            <ngx-spinner
              name="nodePropertyLoader"
              bdColor="rgba(255, 255, 255, 0.7)"
              size="default"
              color="orange"
              type="ball-clip-rotate-pulse"
              [fullScreen]="false"
            ></ngx-spinner>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal body content -->
  </ng-container>
</app-modal>
