<form
  class="wfb-dynamicForm-parent"
  [formGroup]="dynamicFormGroup"
  (ngSubmit)="onAdd()"
>
  <div class="pb-5 wfb-dynamicForm-wrapper">
    <ng-container *ngFor="let field of fields">
      <app-dynamic-field [field]="field"></app-dynamic-field>
      <app-dynamic-error
        [label]="field.label"
        [fieldName]="field.fieldName"
      ></app-dynamic-error>
    </ng-container>
  </div>

  <div class="wfb-form-options">
    <button
      type="submit"
      class="btn btn-primary wfb-form-options--save"
      [disabled]="!dynamicFormGroup.valid"
    >
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      Update
    </button>
    <button
      type="submit"
      class="btn btn-secondary wfb-form-options--cancel"
      (click)="onCancel()"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
      Cancel
    </button>
  </div>
</form>
