/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

.node-item-link {
  cursor: pointer !important;
  display: flex;
  align-items: center;
  font-size: 12px;
  span.badge {
    font-size: 6px;
    margin-left: auto;

    &.action {
      background-color: #4e54ff;
    }
    &.decision {
      background-color: #0c9d23;
    }
  }
}
.node-property-loader {
  min-height: 10rem;
  height: 15rem;
}
.nodeProperty-display-container {
  position: relative;
  height: 100%;
  .lead {
    font-size: 1.4rem;
  }
}
